# App Config
APP_NAME=backend-boilderplate
APP_PORT=3000
APP_MODE=DEV
APP_PREFIX=

# Keycloak setup
KEYCLOAK_ADMIN_ACCOUNT=
KEYCLOAK_ADMIN_PASS=
KEYCLOAK_USER_ACCOUNT=
KEYCLOAK_USER_PASS=
KEYCLOAK_AUTH_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# Database setup
MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_PASS=
MONGO_DB=
